.wrapper {
    padding-top: 50px;
    background-image: url(http://getwallpapers.com/wallpaper/full/8/b/9/723530-mario-bros-wallpapers-2900x1631-for-iphone-7.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }